.product__card{
    width: 22rem;
    height: 32rem;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
   .tag{
    background: red;
    position: absolute;
    border-radius: 2px;
    color: white;
    padding: .2rem;
    margin-left: 1.1rem;
    width: 3rem;
    height: 1.2rem;
   }
    img{
        width: 18rem;
        height: 18rem;
        margin-top: 3.5rem;
        &:hover{
            filter: blur(1px);
            transition: all .1ms ease-in-out;
            cursor: pointer;
        }

    }
    .product__details{
        text-align: left;
        margin-left: 2rem;
    }
    .product__buttons{
        margin-left: -1rem;
        align-items: center;
        .add__cart{
            background: gray;
            border: none;
            height: 3rem;
            width: 11rem;
            color: black;
            font-size: 1.3rem;
            font-weight: 600;
            border-radius: 4px;
            position: relative;
            top: -.3rem;
            left:-.3rem;
            &:hover{
                cursor: pointer;
                color: white;
                background-color: red;
            }
        }
        .heart{
            background: gray;
            color: black;
            height: 3rem;
            width: 4.5em;
            border: none;
            margin-left: .5rem;
            border-radius: 3px;
            &:hover{
                cursor: pointer;
                color: white;
                background-color: red;
            }
            .heart__icon{
                font-size: 1.6rem;
            }
        }
        .eye{
            background: gray;
            color: black;
            height: 3rem;
            width: 4.5em;
            margin-left: .5rem;
            border: none;
            border-radius: 3px;
            &:hover{
                cursor: pointer;
                color: white;
                background-color: red;
            }
            .eye__icon{
                font-size: 1.6rem;
            }
        }


    }
}