.contact {
  width: auto;
  .header__content {
    display: flex;
    width: 48rem;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-left: 38rem;
    margin-top: -101rem;
    // margin-top: -175rem;
    p {
      justify-self: flex-start;
      padding: 1rem;
      font-size: 1rem;
      margin-left: -1rem;
    }
  }
  .contact__details {
    padding-top: 3rem;
    width: 60rem;
    height: 15rem;
    margin-left: 36rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    p {
      font-size: 1rem;
    }
    .contact__icon {
      font-size: 2.5rem;
    }
  }
  form {
    z-index: 9;
    display: grid;
    gap: 1rem;
    width: 30rem;
    margin-left: 40rem;
    input{
      height: 3rem;
      &:focus{
        outline: none;
      }
      &::placeholder{
        padding-left: .7rem;
        font-size: .9rem;
      }
    }
    textarea{
      text-indent: 1rem 1rem;
      &::placeholder{
        padding-left: .7rem;
        padding-top: .7rem;
        font-size: .9rem;
      }
      &:focus{
        outline: none;
      }
    }
    button{
      width: 6rem;
      height: 2.5rem;
      color: white;
      background-color: red;
      border: none;
      border-radius: 2px;
      font-size: 1.1rem;
     
    }
  }
}
