.offer {
  width: 100%;
  height: 100%;
  z-index: -1;
  .main__page {
    position: absolute;
    top: 10.8rem;
    left: 36rem;
    height: 70rem;
    width: 75rem;
    .offers {
      margin-top: -1rem;
      margin-left: 1.5rem;
    }
    .header__content {
      position: relative;
      margin-top: 2rem;
      margin-left: -1rem;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid gray;
      p {
        justify-self: flex-start;
        padding: 1rem;
        margin-left: -1rem;
        font-size: 1rem;
        z-index: 1;
      }
    }
    .product__container {
      margin-left: 1rem;
      margin-top: 3rem;
      row-gap: 7rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      z-index: 999;
    }
  }
}
