.home {
  nav {
    color: black;
    width: 25rem;
  }
  .sidenav {
    height: 100rem;
    width: 25rem;
    background: var(--primary-color);
    margin-left: 8rem;
    margin-top: 3rem;
    background-color: gray;
  }
  .main-page{
    position:relative;
    top: -101rem;
    left: 36rem;
    height: 80rem;
    width: 60rem;

    // z-index: 2;
    .homepage-content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      .explore__card{
        margin-left: .8rem;
        margin-top: 1rem;
        width: 19rem;
        height: 22rem;
        // border: 1px solid black;
        border-radius: 2px;
        text-align: left;
        padding-left: 2rem;
        background-image: url(../../assets/product-one.jpg);
        background-repeat: none;
        background-size: cover;
        .explore__card-text{
          position: relative;
          top: 9rem;
            background-color: rgb(117, 54, 54);
            filter: opacity(.7);
            color: white;
            padding: 1rem;
        }
        .explore__card-link{
          position: relative;
          top: 9.5rem;
        }
      }
    }
  }
  .new__arrivals{
    position: relative;
    top: -146rem;
    left: 36.8rem;
    width: 69rem;
    height: 70rem;
    // background: red;
  }
}
