nav{
    ul{
        margin-left: -7rem;
        margin-top: 2rem;
        .main__nav-item{
            list-style: none;
            text-align: left;
            display: inline-block;
            margin-left: 2rem;
            &:hover{
                color: red;
                cursor: pointer;
            }
        }
    }
}