nav{
    z-index: 999;
    margin-left: -2rem;
    ul{
        margin-left: -7rem;
        margin-top: 2rem;
        .main__nav-item{
            text-decoration: none;
            list-style: none;
            text-align: left;
            display: inline-block;
            margin-left: 2rem;
            // color: blue;
            &:hover{
                color: red;
                cursor: pointer;
            }
            &:active{
                color: green;
            }
        }
        
    }
}