@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500&display=swap');
body {
  margin: 0;
  
}
*{
  -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Signika', sans-serif;
}

:root{
  --primary-color: #D52027;
  --background-color: #FFFFFF;
  --footer-color: #33373E;
  --icon-container_color: #F6F6F6;
}


